
[Unit]
Description=Mawaqif packing space management system
Wants=network-online.target
After=network.target 


[Service]
ExecStart=/usr/local/sbin/launcher.sh 

[Install]
WantedBy=multi-user.target